*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* shared styles */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    max-width: 139px;
}
.btn{
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.center{
    text-align: center;
}
.section-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
    line-height: 20px;
}



/* main styles */

header{
    padding: 16px 120px;
    background-color: #FFFFFF;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    color: #000000ef;
}
nav ul li a:hover{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}


.banner{
    background-image: url('../assets/hero-bg.png');
    height: 647px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 120px 180px;
}
.banner-content{
    width: 85%;
    margin: 0 auto;
}
.banner-content .access-btn button{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 6px;
    padding: 8px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.banner-heading h4{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
#white{
    color: #FFFFFF;
}
#green{
    color: #30B868;
}
.banner-heading p{
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.banner-btn .first-btn{
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    display: block;
    cursor: pointer;
}
.banner-btn .second-btn{
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    padding: 11px 15px;
    background:none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.notes{
    background-color: #fcfafa97;
    padding: 68px 120px 0;
    margin: 0 auto;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.cards .card-info{
    padding: 70px 24px 21px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0 -0 8px 0 #00000018;
}
.card-info img{
    width: 60px;
    background: #F95555;
    padding: 14px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 16px;
}
.card-info h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card-info p{
    font-size: 16px;
    color: #627382;
}

.second-brain{
    width: 86%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
}
.second-brain .section-heading h6{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}
.second-brain .knowledge img{
    border-radius: 12px;
}
.second-brain ul li{
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}

.early-access{
    padding: 80px 40px ;
    background-color: #F7F6F2;
    display:flex;
    justify-content: center;
    align-items: center;

}
.early-access h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.early-access p{
    margin-top: 16px;
}

