*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* shared styles */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    max-width: 139px;
}
.btn{
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.center{
    text-align: center;
}



/* main styles */

header{
    padding: 16px 120px;
    background-color: #FFFFFF;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    color: #000000ef;
}
nav ul li a:hover{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}
